@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Schoolbell');
*,*::before,*::after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,body{
	font-family: 'Lato', sans-serif;
	font-size: 0;
}
#inicio{
	/* border-top: 5px solid #0B1672; */
	border-top: 4px solid #5BAD49;
	/* background-color: #fafff2; */
	position: relative;
	
	background-color: #FFF;
}
#inicio::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 16px;
    top: 100%;
    background-size: 14px 100%;
    background-position: 50%;
    z-index: 2;
     background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, #ffffff), color-stop(0.25, #ffffff));
    background-image: linear-gradient(135deg, #ffffff 25%, transparent 25%), linear-gradient(225deg, #ffffff 25%, transparent 25%);
}

.limite{
	max-width: 1200px;
	width: 100%;
	padding: 0;
	margin: auto;
	position: relative !important;
}
.fixo{
	width: 100%;
	position: fixed !important;
	top: 0;
	z-index: 999999;
	/*background-color: rgba(0,0,0,1) !important;*/
	/* background: rgba(255,255,255,0.6); */
}
.logo-menor{
	max-height: 80px;
	height: 100%;
}
.topo{
	display: block;
	padding: 10px 0;
}
.logo, .navegacao{
	display: inline-block;
	vertical-align: middle;
}
.logo{
	width: 20%;
}
.logo img{
	height: 100px;
}
.navegacao{
	width: 80%;
	text-align: right;
	/* margin-top: 15px; */
}
.navegacao ul{
	list-style: none;
}
.navegacao li{
	display: inline-block;
	margin-right: 20px;
}
.navegacao li:last-child{
	margin-right: 0px;
}
.navegacao a{
	text-align: center;
	color: #00113a;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	/* font-weight: 400; */
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
}
.navegacao ul li ul{
	display: none;
	margin:0;
	padding: 10px 0 0 0;
	position:absolute;
	z-index:7777;
	width:240px;
	text-align:left;
	/*-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);*/
}
.navegacao ul li ul li{
	display:block;
	border-bottom:1px solid rgba(0,0,0,0.2);
	/*background:rgba(255,255,255,0.8);*/
	background-color: #9CCF51;
	margin-right:0px;
}
.navegacao ul li ul li a{
	display: block;
	color: #FFF;
}
/* .navegacao ul li.com-submenu ul{} */
.navegacao ul li.com-submenu a{
	padding: 10px;
	display: block;
}
.navegacao ul li ul li a:hover{
	/* background:rgba(0,0,0,0.1); */
}
.navegacao ul li.com-submenu:hover{
	background-color: #9CCF51;
	/*-webkit-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.3);
	box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.3);*/
	border-radius: 6px;
}
.navegacao ul li.com-submenu:hover a, .navegacao ul li.com-submenu:hover i {
	color: #FFF;
}
.navegacao ul li:hover ul{
	display:block;
	margin-top: -2px;
}
.navegacao ul li:last-child:hover ul{
	right:0;
}
.menu-topo{
	position: absolute;
	top: -10px;
	right: 0;
}
.menu-seta{
	display: inline-block;
	margin-right: 5px;
}
.menu-seta i{
	color: #00113a;
}
a.btn-solicitar-topo{
	/*background: linear-gradient(to bottom right, #a12529, #ec3237);
	background-color: #ec3237;*/
	/* border-radius: 12px; */
	color: #FFF;
	padding: 10px 15px;
	font-weight: 700;
	font-size: 16px;
	background-color: #5BAD49;
	text-decoration: none;
}
.piscar {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.fade{
	-webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
#servicos{
	margin-top: -60px;
	position: relative;
	z-index: 9999;

	width: 100%;

}
#servicos ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
#servicos li{
	display: inline-block;
	height: 315px;
	width: calc(100% - 800px);
	box-sizing: border-box;
	vertical-align: top;
	padding: 40px;
}
#servicos a{
	text-decoration: none;
	color: #FFF;
}
#servicos li:first-child{
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
#servicos li:last-child{
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}
#servicos li i{
	font-size: 82px;
}
#servicos h2{
	display: block;
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#servicos p{
	text-align: justify;
	font-size: 16px;
	line-height: 28px;
}
.azul{
	background-color: #0B1672;
}
.verde-1{
	background-color: #5BAD49;
}
.verde-2{
	background-color: #9DCD52;
}
#estrutura{
	padding: 25px 0;
}
#estrutura h2{
    font-family: "Grand Hotel",cursive;
    font-weight: 400;
    color: #0B1672;
    font-size:46px;
    text-align: center;
}
#matricula{
	display: block;
	position: relative;
    min-height: 500px;
    height: 100%;
    overflow: hidden;
}
.foto-matricula, .info-matricula{
	display: inline-block;
	width: 50%;
	height: 100%;
	vertical-align: top;
}
.foto-matricula{
	position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
.foto-matricula img{
	width: 100%;
	height: 100%;
}
.info-matricula{
	background: #5fcde3;
	font-size: 12px;
	padding-top: 2%;
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.info-matricula h2, .info-matricula h3, .info-matricula p, .info-matricula ul{
	margin-left: 8%;
	color: #FFF;
}
.info-matricula h2{
	font-size: 48px;
    font-family: Arial,sans-serif;
    font-weight: 300;
}
.info-matricula h3{
	margin-top: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
}
.info-matricula p{
	font-size: 22px;
}
.info-matricula ul{
	margin-top:5px;
	font-size: 16px;
}
.info-matricula li{
	padding: 5px 0;
	list-style-type: none;
}
.info-matricula li::before{
 	font-family: 'Font Awesome\ 5 Free';
   	content: "\f14a";
   	margin-right: 10px;
}
.btn-bloco{
	display: block;
	height: 100%;
	align-items: center;
	justify-items: center;
	padding-left: 8%;
	padding-top: 20px;
}
.btn-solicitar{
	background: transparent;
	border: 1px solid #0b1672;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 24px;
	border-radius: 12px;
	text-align: center;
	color: #0b1672;
}
/*
Fazer listar desordenada com before e after personalizado
*/
#contato{
	background:#4989E1 url("../img/bg-home-links.png");
	padding: 25px 0;
}
#contato h2{
	font-family: "Grand Hotel",cursive;
    font-weight: 400;
    color: #FFF;
    font-size:46px;
    text-align: center;
}
#contato .formulario-contato{
	width: 80%;
	margin:20px auto;
	height: 280px;
	display: block;
	position: relative;
	font-family: 'Lato', sans-serif;
}
#contato .formulario-contato p{
	color:#000;
	text-align: center;
	font-size:22px;
	padding:20px;
}
#contato .formulario-contato label{
	width: 430px;
	display: block;
	margin-bottom: 18px;
}
#contato .formulario-contato label input{
	width: 100%;
	padding:20px 0px 20px 20px;
	background: #3d73ba;
	border:0;
	border-radius: 18px;
	-webkit-border-radius:18px;
	outline: none;
	color:#FFF;
	font-weight: 600;
	vertical-align: top;
	font-size:12px;
}
#contato .formulario-contato label textarea{
	width: 100%;
	height: 200px;
	background: #3d73ba;
	border:0;
	border-radius: 18px;
	-webkit-border-radius:18px;
	padding:20px 0 20px 20px;
	outline: none;
	color:#FFF;
	font-weight: 600;
	overflow: auto;
	vertical-align: top;
	font-size:12px;
}
#contato .formulario-contato label textarea::-webkit-scrollbar-track {
    background: #c64949;
}
#contato .formulario-contato label textarea::-webkit-scrollbar {
	width: 20px;	
 	background: #c64949;
}
#contato .formulario-contato label textarea::-webkit-scrollbar-thumb {
     background:  rgba(186, 0, 0, 0.5);
}
#contato .formulario-contato label input::placeholder {
	color:#FFF;
	font-size:12px;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 0px;
}
#contato .formulario-contato label input:-ms-input-placeholder{
	color:#FFF;
	font-size:12px;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 0px;
}
#contato .formulario-contato label input::-ms-input-placeholder{
	color:#FFF;
	font-size:12px;
	font-weight: 600;
	text-transform: uppercase;	
	padding-left: 0px;
}
#contato .formulario-contato label textarea::placeholder{
	color:#FFF;
	font-size:12px;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 0px;
}
#contato .formulario-contato label textarea:-ms-input-placeholder{
	color:#FFF;
	font-size:12px;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 0px;
}
#contato .formulario-contato label textarea::-ms-input-placeholder{
	color:#FFF;
	font-size:12px;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 0px;
}
#contato .formulario-contato .form-esquerda{
	float:left;
}
#contato .formulario-contato .form-direita{
	float:right;
}
#contato .formulario-contato button{
	clear: both;
	position: absolute;
	bottom: 0;
	border:0;
	border-bottom: 3px solid #081156;
	background: #0B1672;
	color:#FFF;
	font-size:18px;
	font-weight: 600;
	padding:15px 20px;
	border-radius:12px;
	-webkit-border-radius:12px;
	cursor:pointer;	
}
#contato .formulario-contato button:hover{
	background: linear-gradient(#081156,#081156);
	background: -webkit-linear-gradient(#081156,#081156);
	background: -o-linear-gradient(#081156,#081156);
	background: -moz-linear-gradient(#081156,#081156);
}
#informacoes{
	height: 64px;
	background:#0B1672;
}
#informacoes ul{
	list-style: none;
	padding: 14px 0;
	margin:0 auto;
	width: 80%;
	text-align: center;
}
#informacoes ul li{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5%;
}
#informacoes ul li:last-child{
	margin-right: 0%;
}
#informacoes ul li i{
	display: inline-block;
	font-size:32px;
	color: #FFF;
	margin-right: 10px;
	vertical-align: middle;
}
#informacoes ul li span{
	display: inline-block;
	font-size:14px;
	color:#FFF;
	font-family: 'Lato', sans-serif;
	vertical-align: middle;
	text-align: left;
}
#mapa{
	width: 100%;
	height: 450px;
	/* background-color: rgba(11,22,114,0.8); */
}
#pagina-titulo{
	padding: 40px 0;
	background: #10409D;
	border-bottom: 4px solid #0B1672;
}
#pagina-titulo h2 > a{
	font-family: 'Lato',sans-serif;
	font-size: 48px;
	font-weight: 300;
	text-decoration: none;
	color: #FFF;
}
#pagina-titulo span{
	position: relative;
}
#pagina-titulo span:before{
	content: "";
    position: absolute;
    top: -8px;
    right: -61px;
    width: 49px;
    height: 2px;
    background: #fff;
}
#pagina-titulo span:after{
	width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -12px;
    right: -71px;
    content: "";
}
#pagina-detalhe{
	min-height: 400px;
	background-color: #FFF;
}
.menu-item{
	list-style: none;
	text-align: center;
	margin-top: 20px;
}
.menu-item li{
	width: 30%;
	height: 202.5px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;	
	padding: 0;
}
.menu-item img{
	width: 100%;
	height: 100%;
	border-radius: 12px;
}
.titulo-topo {
    /* font-size: 52px; */
    display: inline-block;
    /*margin-top: 6%;
    margin-left: 5%;*/
    color: #FEFEFE;
    /* text-transform: uppercase; */
    text-align: center;
    font-weight: 700;
    z-index: 9999;
    position: absolute;
    top: 25%;
    right: 15%;
}
.texto-info-topo{
	margin-top: 20px;
	position: absolute;
	right: 0;
	width: 400px;
}

.titulo-topo p{
	text-align: left;
	display: block;
	font-size: 38px;
	color: #333333;
	padding: 5px 0;
}
.titulo-topo p i{
	display: inline-block;
}
.bg{
	background-color: #FAD502;
	padding: 10px 15px;
}
.titulo-topo span{
	display: block;
	width: 650px;
	font-size: 48px;
	font-family: 'Schoolbell', cursive;
	color: #847209;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;

}
.fadeInRightSm, .fadeInRightSm.active {
    animation-timing-function: ease-in-out;
    -webkit-animation-name: fadeInRightSm;
    animation-name: fadeInRightSm;
}
@keyframes fadeInRightSm {
  0% {
    opacity: 0;
    transform: translateX(60px) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.rede-social {
    width: 50px;
 
    display: inline-block;
    vertical-align: middle;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
    transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	position: fixed;
	z-index: 9999;
	right: 0;
	top:30%;
	text-decoration: none;
}
.rede-social ul{
	list-style: none;
}
.rede-social li{
	padding: 0;
	margin: 0;
}
.rede-social a{
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 10px 0;
	 font-size: 18px;
}
.rede-social a.box-facebook{
	background-color: #3B5998;
	color: #FFF;
}
.rede-social a.box-instagram{
	background-color: #F25841;
	color: #FFF;
}
.rede-social a.box-youtube{
	background-color: #FB0007;
	color: #FFF;
}
.rede-social a.box-email{
	background-color: #3D73BA;
	color: #FFF;
}
.rede-social a.box-localizacao{
	background-color: #9ccf51;
	color: #FFF;
}
.rede-social img {
    margin: 6px 2px;
    transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
}
.rede-social:hover{
	background-color: rgba(89,135,48,1);
}